<div class="container">
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="../../../../assets/logo.png" alt="">
    </div>
    <div class="sidebar-tools">
        <ul>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>