<div class="container">
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="../../../../assets/logo.png" alt="">
    </div>
    <div class="sidebar-tools">
        <ul>
            <li class="tools">
                <a href="#" (mouseover)="mouseover()">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
                <div *ngIf="hover">
                    <span [ngClass]="'tooltip'">categorias</span>
                </div>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
                <span class="tooltip">algoquenose</span>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
                <span class="tooltip">algoquenose</span>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
                <span class="tooltip">algoquenose</span>
            </li>
            <li class="tools">
                <a href="#">
                    <div class="icon">
                        <img src="../../../../assets/hamburger_menu_icon.png" alt="">
                    </div>
                </a>
                <span class="tooltip">favoritos</span>
            </li>
        </ul>
    </div>
</div>
</div>