

<app-container>
    <div class="products">
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
        <app-card-shop></app-card-shop>
    </div>
</app-container>