.container{
    max-height: 90svh;
    max-width: 95svw;
    height: 88svh;
    width: 95svw;
    margin: auto ;
    margin-top: 9px;
}

.subcontainer{
    background: #B0D28D;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: solid 10px #99C66F;
    display: flex;
    box-shadow: -10px 10px 50px;
}
