.container{
    max-height: 90svh;
    max-width: 95svw;
    height: 88svh;
    width: 95svw;
    margin: auto ;
    margin-top: 6%;
    display: flex;
    background: #82A065;
    border-radius: 50px;
    border: solid 10px #99C66F;
    box-shadow: -10px 10px 50px;
}

.subcontainer{
    overflow-y: scroll;
    width: 100%;
    margin: .4rem 1rem;
}
