<div class="card">
    <!-- Contenedor principal de la tarjeta -->

    <div class="card-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDxIisr84aXHp-Q1N5lOcJWstyCyISrBoJnA&usqp=CAU" alt="">
    </div>
    <!-- Div que podría contener una imagen relacionada con el producto -->

    <div class="card-info">
        <!-- Div para la información del producto -->

        <p class="text-title">Product title</p>
        <!-- Párrafo que muestra el título del producto -->

        <p class="text-body">Product description and details</p>
        <!-- Párrafo que muestra la descripción y detalles del producto -->

    </div>

    <div class="card-footer">
        <!-- Div para el pie de la tarjeta -->

        <span class="text-title">$499.49</span>
        <!-- Etiqueta de texto que muestra el precio del producto -->

        <div class="card-button">
            <!-- Div que podría contener un botón relacionado con la tarjeta -->

            <svg class="svg-icon" viewBox="0 0 20 20">
                <!-- SVG que podría representar un ícono de carrito o similar -->

                <!-- Código SVG de un ícono -->

            </svg>

        </div>

    </div>

</div>