/* Estilos para la clase '.card' */
.card {
    width: 320px;
    /* Ancho fijo de la tarjeta */
    height: 500px;
    /* Altura fija de la tarjeta */
    padding: .8em;
    /* Relleno interno de la tarjeta */
    background: #f5f5f5;
    /* Color de fondo de la tarjeta */
    position: relative;
    /* Posicionamiento relativo */
    overflow: visible;
    /* Controla cómo se muestra el contenido que desborda */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* Sombra de la tarjeta */
    border-radius: 25px;
    /* Radio de borde de la tarjeta */
}

/* Estilos para la clase '.card-img' */
.card-img {
    background-color: #ffcaa6;
    /* Color de fondo de la imagen */
    height: 60%;
    /* Altura de la imagen */
    width: 100%;
    /* Ancho de la imagen */
    border-radius: .5rem;
    /* Radio de borde de la imagen */
    transition: .3s ease;
    /* Transición suave de 0.3 segundos para cambios animados */
}