<div class="card">
    <!-- Contenedor principal de la tarjeta -->

    <div class="card-img"></div>
    <!-- Div que podría contener una imagen relacionada con el producto -->

    <div class="card-info">
        <!-- Div para la información del producto -->

        <p class="text-title">Product title</p>
        <!-- Párrafo que muestra el título del producto -->

        <p class="text-body">Product description and details</p>
        <!-- Párrafo que muestra la descripción y detalles del producto -->

    </div>



</div>