<!-- Icono de "plus" con un estilo específico y un evento de clic que llama a la función showDialog() -->
<i class="fa-solid fa-plus fa-2xl" style="color: #ffffff;" (click)="showDialog()" label="Create"></i>

<!-- Diálogo de PrimeNG con encabezado, vinculado a la visibilidad del componente -->
<p-dialog header="Crear Artículo" [(visible)]="visible" [style]="{width: '50vw'}">
    <!-- Formulario reactivo con formGroup y evento ngSubmit que llama a la función onSubmit() -->
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

        <!-- Bloque de entrada de texto para la URL de la imagen -->
        <div class="group">
            <br>
            <!-- Etiqueta flotante para el campo de entrada de texto -->
            <span class="p-float-label">
                <!-- Área de texto con rows, cols, id y formControlName -->
                <textarea rows="5" cols="30" pInputTextarea id="imgURL" formControlName="imgURL"></textarea>
                <!-- Etiqueta que se eleva cuando se ingresa texto en el área -->
                <label htmlFor="imgURL">URL de la imagen*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para el atributo 'alt' -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="alt" formControlName="alt"></textarea>
                <!-- Etiqueta que se eleva cuando se ingresa texto en el área -->
                <label htmlFor="alt">Texto alternativo (Alt)*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para el título -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="title" formControlName="title"></textarea>
                <label htmlFor="title">Título*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para el subtítulo -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="subtitle" formControlName="subtitle"></textarea>
                <label htmlFor="subtitle">Subtítulo*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para la descripción -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="description" formControlName="description"></textarea>
                <label htmlFor="description">Descripción*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para la reproducción -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="reproduction" formControlName="reproduction"></textarea>
                <label htmlFor="reproduction">Reproducción*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para los cuidados -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="care" formControlName="care"></textarea>
                <label htmlFor="care">Cuidados*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para los consejos -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="tips" formControlName="tips"></textarea>
                <label htmlFor="tips">Consejos*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para las características -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="characteristic" formControlName="characteristic"></textarea>
                <label htmlFor="characteristic">Características*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para las plagas -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="pests" formControlName="pests"></textarea>
                <label htmlFor="pests">Pestes*</label>
            </span>
        </div>

        <!-- Bloque de entrada de texto para los insecticidas -->
        <div class="group">
            <span class="p-float-label">
                <textarea rows="5" cols="30" pInputTextarea id="insecticides" formControlName="insecticides"></textarea>
                <label htmlFor="insecticides">Insecticidas*</label>
            </span>
        </div>

        <!-- Bloque de entrada de switch para el campo 'carrusel' -->
        <div class="group">
            <span class="p-float-label">
                <!-- Componente de PrimeNG para un switch -->
                <p-inputSwitch formControlName="carrusel" (onChange)="updateCarruselValue($event)"></p-inputSwitch>
                <!-- Etiqueta que describe el interruptor -->
                <label for="carrusel">Mostrar en carrusel</label>
            </span>
        </div>

        <!-- Botón de envío del formulario -->
        <div class="group">
            <span class="p-float-label">
                <!-- Botón de tipo submit con estilo de PrimeNG -->
                <input type="submit" class="button" value="Crear Artículo" pButton pRipple>
            </span>
        </div>
    </form>
</p-dialog>
