
<div class="card">
    <p-carousel [numVisible]="5" [numScroll]="3" [circular]="true" autoPlayInterval="3000">
        <p>asdñklfjlkañsd</p>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
       <app-card-post></app-card-post>
    </p-carousel>
</div>