
<app-container>
    <div class="login">
        <div class="login-html">
            <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="sign-in-htm">
                    <div class="group">
                        <span class="p-float-label">
                            <input pInputText 
                                id="name" 
                                formControlName="name" 
                                />
                            <label htmlFor="name">Nombre*</label>
                        </span>
                    </div>
                    <div class="group">
                        <span class="p-float-label">
                            <input pInputText 
                                id="password" 
                                formControlName="password" 
                                />
                            <label htmlFor="password">Contraseña*</label>
                        </span>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Regístrate" [disabled]="loginForm.invalid">
                    </div>
                    <div class="hr" ></div>
                    <div class="foot-lnk">
                        <a routerLink="/iniciarsesion">Inicia Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-container>

