
<app-container>
    <div class="login">
        <div class="login-html">
            <div class="login-form">
                <form [formGroup]="" (ngSubmit)="" class="sign-in-htm">
                    <div class="group">
                        <span class="p-float-label">
                            <input pInputText 
                                id="name" 
                                formControlName="name" 
                                />
                            <label htmlFor="name">Nombre*</label>
                        </span>
                    </div>
                    <div class="group">
                        <span class="p-float-label">
                            <input pInputText 
                                id="password" 
                                formControlName="password" 
                                />
                            <label htmlFor="password">Contraseña*</label>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-container>

