<div class="padre">
    <app-sidebar></app-sidebar>
    <div class="contenedor">
        <img src="../../../../../assets/planta_rosario_cuidados_2437_600.jpg" alt="" class="img">
        <div class="sub-contenedor">
            <h2 class="titulo">Planta del Rosario</h2>
            <p class="descripcion">Senecio rowleyanus, también conocida como "planta del rosario" o "collar de perlas",
                es una planta suculenta perteneciente a la familia de las Asteráceas. Es originaria de Sudáfrica y se
                caracteriza por sus tallos largos y delgados que cuelgan hacia abajo, con hojas redondas y pequeñas que
                se asemejan a perlas verdes.
                Esta planta es muy apreciada por su aspecto decorativo y su fácil cuidado. Es común encontrarla en
                macetas colgantes o en estanterías donde sus tallos pueden caer libremente, creando un efecto de
                cascada. A medida que la planta crece, los tallos pueden llegar a alcanzar varios metros de longitud.
                La planta del rosario es una suculenta de crecimiento lento y requiere condiciones específicas para
                prosperar. Prefiere una exposición indirecta a la luz solar y suelo bien drenado. Al tratarse de una
                suculenta, es importante no excederse en el riego, permitiendo que el sustrato se seque completamente
                entre riegos.
            </p>
            <h3>Reproduccion</h3>
            <p>Esta planta se reproduce fácilmente mediante esquejes. Simplemente se corta un tallo sano y se coloca en
                un sustrato adecuado, donde enraizará y dará lugar a una nueva planta.
                En resumen, la Senecio rowleyanus, o planta del rosario, es una suculenta atractiva y de bajo
                mantenimiento que agrega un toque decorativo a los espacios interiores.
            </p>
            <h3>Cuidados</h3>
            <p>Requiere exposiciones luminosas cercanas a una ventana a temperaturas constantes y templadas a lo largo
                del año. Los riegos deben ser moderados, dejando secar completamente el sustrato antes de proceder al
                siguiente riego.</p>
            <h3>Consejos</h3>
            <p>El mayor enemigo de esta suculenta colgante es el exceso de agua, por lo tanto, a la hora de
                trasplantarlo nos debemos asegurar de crear en el fondo de la maceta una base generosa de drenaje. De
                esta forma, al regar el senecio, el exceso de agua se eliminará con rapidez, evitando los tan
                perjudiciales encharcamientos.</p>
            <h3>Caracteristicas</h3>
            <ul>
                <li>Es una planta de interior.</li>
                <li>Es tóxica si se ingiere.</li>
            </ul>
            <h3>Plagas</h3>
            <p>Cochinillas: Estos insectos pequeños y redondos se adhieren a las hojas de la planta y succionan su
                savia. Pueden ser de color blanco, marrón o negro. Para tratar las cochinillas, puedes intentar limpiar
                las hojas con un paño húmedo o aplicar un insecticida adecuado.
                Ácaros: Los ácaros son pequeños insectos que suelen aparecer en condiciones de sequedad. Se alimentan de
                las células de las hojas, dejando manchas decoloradas y una apariencia marchita. Puedes controlar los
                ácaros aumentando la humedad alrededor de la planta y aplicando un insecticida específico si es
                necesario.
                Mosca blanca: Estos insectos voladores pequeños se encuentran comúnmente en las plantas de interior. Se
                alimentan de la savia y causan amarillamiento y marchitamiento de las hojas. Puedes utilizar trampas
                pegajosas amarillas para atrapar las moscas blancas y aplicar un insecticida adecuado si la infestación
                es severa.</p>
            <h3>Insecticidas</h3>
            <p>Jabón insecticida: Mezcla una cucharadita de jabón líquido suave (preferiblemente sin fragancia ni
                aditivos) en un litro de agua tibia. Pulveriza esta solución sobre las hojas de la planta, prestando
                especial atención a las áreas afectadas por plagas. El jabón ayudará a eliminar insectos como
                cochinillas, ácaros y mosca blanca al obstruir sus vías respiratorias. Asegúrate de enjuagar las hojas
                con agua limpia después de unas horas para evitar daños por residuos de jabón.
                Alcohol isopropílico: Mezcla partes iguales de alcohol isopropílico y agua en un pulverizador. Rocía
                esta solución sobre las hojas afectadas por las plagas. El alcohol deshidrata y mata a muchos tipos de
                insectos, incluyendo cochinillas y ácaros. Tené cuidado de no aplicar alcohol directamente sobre las
                raíces de la planta.
                Solución de aceite de neem: El aceite de neem es un extracto natural obtenido de las semillas del árbol
                de neem y es conocido por sus propiedades insecticidas y repelentes. Mezcla una cucharadita de aceite de
                neem con un litro de agua y agita bien. Pulveriza esta solución sobre las hojas de la planta para
                controlar plagas como cochinillas, ácaros y mosca blanca. El aceite de neem actúa como repelente,
                interfiere con el ciclo de vida de los insectos y afecta su capacidad de alimentación y reproducción.
            </p>
        </div>
    </div>
</div>