<app-container>
    <div class="contenedor">
        <img src="" alt="" class="img">
        <div class="sub-contenedor">
            <h2 class="titulo">Titulo</h2>
            <p class="descripcion">Descripcion</p>
            <h3>reproduccion</h3>
            <p>info</p>
            <h3>cuidados</h3>
            <p>info</p>
            <h3>consejos</h3>
            <p>info</p>
            <h3>caracteristicas</h3>
            <ul>
                <li></li>
            </ul>
            <h3>plagas</h3>
            <p>info</p>
            <h3>insecticidas</h3>
            <p>info</p>
        </div>
    </div>
</app-container>