/* Estilos para el encabezado */
.header {
    position: fixed; /* Fija el encabezado en la parte superior de la página */
    z-index: 9999999999; /* Asegura que el encabezado esté siempre en la parte superior de otros elementos */
    width: 100%; /* Ocupa todo el ancho de la página */
    top: 0; /* Posiciona el encabezado en la parte superior */
    right: 0; /* Alinea el encabezado a la derecha */
    display: flex; /* Usa flexbox para organizar los elementos hijos */
    align-items: center; /* Centra los elementos hijos verticalmente */
    justify-content: space-between; /* Distribuye los elementos hijos uniformemente a lo largo del eje horizontal */
    background: rgba(0, 0, 0, .1); /* Color de fondo semitransparente */
    padding: 28px 12%; /* Espaciado interno */
    transition: all .50s ease; /* Transición suave para todos los cambios de estilo */
}

/* Estilos para el logo */
.logo {
    width: 3rem; /* Ancho del logo */
    height: 3rem; /* Alto del logo */
}


