<!-- Contenedor principal del encabezado -->
<div class="header">

    <!-- Logo del sitio web, al hacer clic redirige a la página de inicio -->
    <a routerLink="/inicio" class="logo">
        <img src="../../../../assets/LOGOPLANTASO1.png" alt="logo">
        <span>Plantaso</span>
    </a>

    <!-- Barra de navegación principal -->
    <ul class="navbar">
        <!-- Elemento de la barra de navegación para la página de inicio -->
        <li><a routerLink="/inicio">Inicio</a></li>
        <!-- Elemento de la barra de navegación para la página de artículos -->
        <li><a routerLink="/articulos">Artículos</a></li>
        <!-- Elemento de la barra de navegación para la página de productos -->
        <li><a routerLink="/productos">Productos</a></li>

    </ul>

    <!-- Contenedor de las opciones de usuario y el icono del menú -->
    <div class="main">
        <!-- Opción para iniciar sesión -->
        <a href="iniciarsesion" class="user">
            Iniciar Sesión
        </a>
        <!-- Opción para registrarse -->
        <a href="/registrarte">Registrarse</a>
        <!-- Icono del menú (generalmente utilizado para dispositivos móviles) -->
        <div class="fa-solid fa-bars" id="menu-icon">
        </div>
    </div>

</div>