<header>
    <nav>
        <ul class="left">
            <li><a href="/home">INICIO</a></li>
            <li><a href="/products">ARTICULOS</a></li>
            <li><a href="/articles">PRODUCTOS</a></li>
        </ul>

        <div class="logo"><img src="../../../../assets/logo.png" alt="logo"></div>

        <ul class="right">
            <li><a href="">INICIAR SESION</a></li>
            <li><a href="">REGISTRARTE</a></li>
        </ul>

        <div class="burger_btn">
            <img src="../../../../assets/hamburger_menu_icon.png" alt="hamburger_icon" (click)="responsiveMenu()">
        </div>
    </nav>

    <div>
        <ul class="dropdown_menu" >
            <li><a href="#">HOME</a></li>
            <li><a href="#">PRODUCTOS</a></li>
            <li><a href="#">ARTICULOS</a></li>
            <li><a href="#">INICIAR SESION</a></li>
            <li><a href="#">REGISTRATE</a></li>
        </ul>
    </div>

</header>