/* Estilos para el encabezado */
.header {
    position: fixed; /* Fija el encabezado en la parte superior de la página */
    z-index: 9999999999; /* Asegura que el encabezado esté siempre en la parte superior de otros elementos */
    width: 100%; /* Ocupa todo el ancho de la página */
    top: 0; /* Posiciona el encabezado en la parte superior */
    right: 0; /* Alinea el encabezado a la derecha */
    display: flex; /* Usa flexbox para organizar los elementos hijos */
    align-items: center; /* Centra los elementos hijos verticalmente */
    justify-content: space-between; /* Distribuye los elementos hijos uniformemente a lo largo del eje horizontal */
    background: rgba(0, 0, 0, .1); /* Color de fondo semitransparente */
    padding: 28px 12%; /* Espaciado interno */
    transition: all .50s ease; /* Transición suave para todos los cambios de estilo */
}

/* Estilos para el logo */
.logo {
    width: 3rem; /* Ancho del logo */
    height: 3rem; /* Alto del logo */
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex; /* Usa flexbox para organizar los elementos hijos */
}

/* Estilos para los enlaces de la barra de navegación */
.navbar a {
    color: #fff; /* Color del texto */
    font-size: 1.1rem; /* Tamaño de fuente */
    font-weight: 500; /* Peso de fuente */
    padding: 5px 0; /* Espaciado interno */
    margin: 0px 30px; /* Espaciado externo */
    transition: all .50s ease; /* Transición suave para todos los cambios de estilo */
}

/* Estilos para el efecto hover de los enlaces de la barra de navegación */
.navbar a:hover {
    color: #bbbbbb; /* Cambia el color del texto al pasar el cursor */
}

/* Estilos para el enlace activo de la barra de navegación */
.navbar a.active {
    color: #bbbbbb; /* Cambia el color del enlace activo */
}

/* Estilos para el contenedor principal */
.main {
    display: flex; /* Usa flexbox para organizar los elementos hijos */
    align-items: center; /* Centra los elementos hijos verticalmente */
}

/* Estilos para los enlaces del contenedor principal */
.main a {
    margin-right: 25px; /* Espaciado externo a la derecha */
    margin-left: 10px; /* Espaciado externo a la izquierda */
    color: #fff; /* Color del texto */
    font-size: 1.1rem; /* Tamaño de fuente */
    font-weight: 500; /* Peso de fuente */
    transition: all .50s ease; /* Transición suave para todos los cambios de estilo */
}

/* Estilos para el icono de usuario */
.user {
    display: flex; /* Usa flexbox para organizar los elementos hijos */
    align-items: center; /* Centra los elementos hijos verticalmente */
}

/* Estilos para el ícono dentro del enlace de usuario */
.user i {
    color: #bbbbbb; /* Color del ícono */
    font-size: 28px; /* Tamaño del ícono */
    margin-right: 7px; /* Espaciado externo a la derecha */
}

/* Estilos para el efecto hover de los enlaces del contenedor principal */
.main a:hover {
    color: #bbbbbb; /* Cambia el color del texto al pasar el cursor */
}

/* Estilos para el ícono del menú */
#menu-icon {
    font-size: 35px; /* Tamaño del ícono */
    color: #fff; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el ícono */
    z-index: 99999; /* Asegura que el ícono esté siempre en la parte superior de otros elementos */
    display: none; /* Oculta el ícono por defecto */
}

/* Estilos para pantallas con un ancho máximo de 1280px */
@media (max-width: 1280px) {
    header {
        padding: 14px 2%; /* Reduce el espaciado interno del encabezado */
        transition: .2s; /* Transición más rápida */
    }

    .navbar a {
        padding: 5px 0; /* Espaciado interno */
        margin: 0px 20px; /* Espaciado externo */
    }
}

/* Estilos para pantallas con un ancho máximo de 1090px */
@media (max-width: 1090px) {
    /* Muestra el ícono del menú */
    #menu-icon {
        display: block;
    }

    /* Estilos para la barra de navegación en modo móvil */
    .navbar {
        position: absolute; /* Posicionamiento absoluto */
        top: 100%; /* Posiciona la barra de navegación debajo del encabezado */
        right: 2%; /* Alinea la barra de navegación a la derecha */
        width: 270px; /* Ancho de la barra de navegación */
        height: 29vh; /* Alto de la barra de navegación */
        background: #bbbbbb; /* Color de fondo */
        display: flex; /* Usa flexbox para organizar los elementos hijos */
        flex-direction: column; /* Organiza los elementos hijos en una columna */
        justify-content: flex-start; /* Alinea los elementos hijos al inicio */
        border-radius: 10px; /* Borde redondeado */
        transition: all .50s ease; /* Transición suave para todos los cambios de estilo */
    }

   
}
