/* Establece el ancho máximo del contenedor principal y lo centra */
.container {
	max-width: 1170px;
	margin: auto;
}

/* Establece las propiedades de las filas (elementos flexibles) */
.row {
	display: flex;
	flex-wrap: wrap;
}

/* Quita los puntos de lista en las listas desordenadas */
ul {
	list-style: none;
}

/* Estilos generales para el pie de página */
.footer {
	background-color: #4DA167;
	padding: 70px 0;
}

