<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>contacto</h4>
                <ul>
                    <li><a href="#">plantaso@gmail.com</a></li>
                    <li><a href="#">+54 9 299 423 7336</a></li>
                    <li><a href="#">paraguay 1050</a></li>
                    <li><a href="#">cipolleti 8324</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>navegación</h4>
                <ul>
                    <li><a href="#">inicio</a></li>
                    <li><a href="#">productos</a></li>
                    <li><a href="#">articulos</a></li>
                    <li><a href="#">cuenta</a></li>
                    <li><a href="#">ajustes</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>derechos de autor</h4>
                <ul>
                    <li><a href="#">© 2023 Plantaso. Todos los derechos reservados.</a></li>
            </div>
            <div class="footer-col">
                <h4>redes sociales</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
