<div class="landing">
    <img src="../../../../../assets/illustraciones/bro-09.png" data-distance="700" class="img bro-9">
    <img src="../../../../../assets/illustraciones/bro-08.png" data-distance="1000" class="img bro-8">
    <img src="../../../../../assets/illustraciones/bro-07.png" data-distance="1400" class="img bro-7">
    <img src="../../../../../assets/illustraciones/bro-06.png" data-distance="1600" class="img bro-6">
    <img src="../../../../../assets/illustraciones/bro-05.png" data-distance="1800" class="img bro-5">
    <img src="../../../../../assets/illustraciones/bro-11.png" data-distance="2000" class="img bro-11">
    <img src="../../../../../assets/illustraciones/bro-04.png" data-distance="2200" class="img bro-4">
    <div class="text">

        <h1>plantaso</h1>
    </div>
    <img src="../../../../../assets/illustraciones/bro-03.png" data-distance="2400" class="img bro-3">
    <img src="../../../../../assets/illustraciones/bro-02.png" data-distance="2500" class="img bro-2">
    <img src="../../../../../assets/illustraciones/bro-01.png" data-distance="2600" class="img bro-1">
</div>
<div class="contenedor">
    <div class="sub-contenedor">
        <h5>articulos</h5>
        <app-carrusel></app-carrusel>
    </div>
    <div class="sub-contenedor">
        <h5>productos</h5>
    </div>
</div>
<div class="contenedor promo">
    <h3>tenemos una aplicacion</h3>
    <img src="../../../../../assets/illustraciones/promo.svg" class="svg">
</div>
<div class="contenedor who">
    <div class="mini-contenedor">
        <h4>¿quienes somos?</h4>
        <p>Somos un equipo apasionado por la naturaleza y las plantas. Nuestra misión es compartir conocimiento, inspiración y productos que ayuden a las personas a conectar con la belleza y beneficios de la vida verde. Nos enorgullece ofrecer información precisa y productos de calidad para fomentar el amor por las plantas y la jardinería en la comunidad.</p>
    </div>
    <div class="mini-contenedor">
        <h4>¿para que lo hacemos?</h4>
        <p>Creemos en el poder transformador de las plantas y su capacidad para mejorar nuestras vidas y el entorno. Nuestro propósito es promover un estilo de vida más saludable y sostenible al proporcionar recursos, productos y servicios que fomenten el cuidado de las plantas y la conexión con la naturaleza. Estamos comprometidos con el bienestar de las plantas y de quienes las cuidan.</p>
    </div>
</div>
<app-footer></app-footer>