/* Estilos para la sección de inicio (.landing) */
.landing {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos en dispositivos móviles */
    align-items: center;
    text-align: center;
    padding: 20px;
    /* Agrega espacio alrededor del contenido en dispositivos móviles */
}

/* Estilos para las imágenes (.img) */
.img {
    width: 100%;
    /* Haz que las imágenes ocupen todo el ancho del contenedor */
    height: auto;
    /* Mantén la proporción original de la imagen */
    max-height: 100vh;
    /* Evita que las imágenes sean más altas que la pantalla */
    margin-bottom: 20px;
    /* Agrega espacio entre las imágenes */
    position: absolute;
    /* Permite superponer las imágenes */
    top: 0;
    /* Coloca las imágenes en la parte superior del contenedor */
    left: 0;
    /* Coloca las imágenes en la parte izquierda del contenedor */
}

/* Estilos para el texto (.text) */
.text {
    z-index: 90;
    /* Establece el valor de z-index a 90 para controlar la superposición de elementos */
    position: absolute;
    /* Establece la posición del elemento como absoluta para un posicionamiento preciso */
    top: 33%;
    /* Coloca el elemento 33% desde la parte superior del contenedor principal */
    left: 50%;
    /* Coloca el elemento en el centro horizontal del contenedor principal */
    transform: translate(-50%, -50%);
    /* Centra el elemento vertical y horizontalmente */
    text-align: center;
    /* Alinea el texto en el centro horizontalmente */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    color: #fff;
    /* Establece el color del texto en blanco (#fff) */
    pointer-events: auto;
    /* Habilita la interacción con el cursor del mouse en el elemento */
    padding: 20px;
    /* Agrega un relleno interno de 20 píxeles alrededor del contenido del elemento */
}

/* Estilos para elementos <h2> dentro de elementos con la clase ".text" */

.text h2 {
    font-weight: 100;
    /* Establece el peso de la fuente a 100, lo que la hace muy ligera */
    font-size: 6.5rem;
    /* Establece el tamaño de la fuente en 6.5 unidades rem */
    margin: 10px 0;
    /* Agrega un margen de 10 píxeles arriba y abajo, sin margen en los lados */
}

