<div class="landing">
    <img src="../../../../../assets/illustraciones/bro-09.png" data-distance="700" class="img bro-9">
    <img src="../../../../../assets/illustraciones/bro-08.png" data-distance="1000" class="img bro-8">
    <img src="../../../../../assets/illustraciones/bro-07.png" data-distance="1400" class="img bro-7">
    <img src="../../../../../assets/illustraciones/bro-06.png" data-distance="1600" class="img bro-6">
    <img src="../../../../../assets/illustraciones/bro-05.png" data-distance="1800" class="img bro-5">
    <img src="../../../../../assets/illustraciones/bro-11.png" data-distance="2000" class="img bro-11">
    <img src="../../../../../assets/illustraciones/bro-04.png" data-distance="2200" class="img bro-4">
    <div class="text img">
        <h2>logo</h2>
        <h1>plantaso</h1>
    </div>
    <img src="../../../../../assets/illustraciones/bro-03.png" data-distance="2400" class="img bro-3">
    <img src="../../../../../assets/illustraciones/bro-02.png" data-distance="2500" class="img bro-2">
    <img src="../../../../../assets/illustraciones/bro-01.png" data-distance="2600" class="img bro-1">
</div>
<div class="contenedor">
    <div class="sub-contenedor">
        <app-carrusel></app-carrusel>
    </div>
    <div class="sub-contenedor">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ad voluptatum numquam, esse mollitia reiciendis assumenda quis corrupti hic commodi cum possimus enim aliquam perspiciatis placeat, deserunt in quisquam aspernatur.
    </div>
</div>
<div class="contenedor promo">
    <h3>tenemos una aplicacion</h3>
    <img src="../../../../../assets/illustraciones/promo.svg" class="svg">
</div>
<div class="contenedor">
    
</div>