.container{
    max-height: 90svh;
    max-width: 95svw;
    height: 88svh;
    width: 95svw;
    margin: auto ;
    margin-top: 6%;
    display: flex;
    background: #82A065;
    border-radius: 50px;
    border: solid 10px #99C66F;
    align-items: center;
    box-shadow: -10px 10px 50px;
	justify-content: center;
}

.login{
	height:90%;
    width: 60%;
	position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: rgba(255, 255, 255, 0.666);
	border-radius: 20px;
    box-shadow: -10px 10px 50px;
}

h1{
	top: 0px;
	text-align: center;
	color: #82A065;
	font-size: 3rem;
	margin-bottom: 40px;
}

.login-html{
	position:absolute;
	padding:90px 70px 50px 70px;
    justify-content: center;
    align-items: center;
}

.login-form{
	min-height:375px;
	position:relative;
}
.group{
	padding:.8rem;
}

.button{
	border:solid 1px #fff;
	padding:15px 50px;
	border-radius:25px;
	background:rgba(200,200,200,.1);
	color:#aaa;
	font-size:12px;
	width: 100%;
}
.hr{
	height:2px;
	margin:20px 0 20px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
input{
	width: 100%;
}

#password{
	border-radius:25px
}