
<app-container>
    <div class="login">
        <div class="login-html">
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="mail" class="label">mail</label>
                        <input id="mail" type="text" class="input" data-type="mail">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Registrate">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="/iniciarsesion">Inicia Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-container>

