.articles{
    width: 100%;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,10rem),1fr));
    grid-auto-flow: dense;
    break-inside: avoid;
}
.articles app-card-post{
    place-content: center;
}