<app-container>
    <div class="articles">
        <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    <app-card-post></app-card-post>
    </div>
</app-container>

