    <i class="fa-regular fa-plus fa-2xl" style="color: #fff;"  (click)="showDialog()"></i>
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="group">
                <br>
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="imgURL" formControlName="imgURL"></textarea>
                    <label htmlFor="imgURL">imgURL*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="alt" formControlName="alt"></textarea>
                    <label htmlFor="email">alt*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="title"></textarea>
                    <label htmlFor="email">title*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="subtitle"></textarea>
                    <label htmlFor="email">subtitle*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="description"></textarea>
                    <label htmlFor="email">description*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="reproduction"></textarea>
                    <label htmlFor="email">reproduction*</label>
                </span>
            </div>

            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="care"></textarea>
                    <label htmlFor="email">care*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="tips"></textarea>
                    <label htmlFor="email">tips*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="characteristic"></textarea>
                    <label htmlFor="email">characteristics*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="pests"></textarea>
                    <label htmlFor="email">pest*</label>
                </span>
            </div>
            <div class="group">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="email" formControlName="insecticides"></textarea>
                    <label htmlFor="email">insecticides*</label>
                </span>
            </div>


            <div class="group">
                <input type="submit" class="button" value="createForm" pButton pRipple>
            </div>
        </form>
    </p-dialog>
