@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: #1B4622;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}