@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../src/assets/illustraciones/bro-09.png");
    background-color: #255C2D;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}