<div class="padre">
    <app-sidebar></app-sidebar>
    <div class="contenedor">
        <div class="blanco" *ngIf="product">
            <app-update-product-button [productId]="product.productId"></app-update-product-button>
            <app-delete-product-button></app-delete-product-button>
            <img [src]="product.imgURL" alt="{{product.alt}}">
            <div class="cont">
                <h2>{{product.title}}</h2>
                <div class="price">
                    $ {{product.price}}
                    <span>en {{product.quotas}}</span>
                </div>
                <ul class="product-info">
                    <h4>Lo que tenés que saber de este producto</h4>
                    <p>{{product.info}}</p>
                    <!-- Más ítems de información -->
                </ul>
                <div class="product-description">
                    <h4>descripcion</h4>
                    <p>{{product.description}}</p>
                </div>
            </div>
            <div class="product-container">
                <div class="shipping-info">
                    Envío a todo el país
                    <a href="#">Conoce los tiempos y las formas de envío.</a>
                    <button class="calculate-shipping">Calcular cuándo llega</button>
                </div>

                <div class="stock-info">
                    Stock disponible
                    <div class="quantity-selector">
                        Cantidad:
                        <select [(ngModel)]="selectedQuantity" (ngModelChange)="onQuantityChange($event)">
                            <option *ngFor="let quantity of availableQuantities" [value]="quantity">
                                {{ quantity }}
                            </option>
                        </select>
                        ({{ totalStock }} disponibles)
                    </div>
                </div>

                <div class="actions">
                    <button class="buy-now">Comprar ahora</button>
                    <button class="add-to-cart">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>