<div class="card">
    <img src="https://images.pexels.com/photos/797793/pexels-photo-797793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img" alt="">
    <div class="card-body">
        <h4 class="card-title">Lengua de suegra</h4>
        <p class="card-sub-title">Sansevieria Trifasciata</p>
        <p class="card-info">La lengua de suegra es conocida como sansevieria por su nombre científico Sansevieria
            trifasciata.</p>
        <button class="card-btn">Info</button>
    </div>
</div>