 /* Estilos para la tarjeta */
 .card {
     width: 320px;
     /* Ancho fijo de la tarjeta */
     height: 500px;
     /* Altura fija de la tarjeta */
     border-radius: 25px;
     /* Radio de borde */
     overflow: hidden;
     /* Oculta el contenido que desborda */
     border: 3px solid #fff;
     /* Borde s칩lido blanco */
     position: relative;
     /* Posicionamiento relativo */
 }

 /* Estilos para la imagen de la tarjeta */
 .card-img {
     width: 100%;
     /* Ocupa todo el espacio disponible */
     height: 100%;
     /* Ocupa todo el espacio disponible */
     object-fit: cover;
     /* Ajusta la imagen al contenedor */
     border-radius: 15px;
     /* Radio de borde de la imagen */
 }

 /* Estilos para el contenido de la tarjeta que se muestra al hacer hover */
 .card-body {
     width: 100%;
     /* Ocupa todo el espacio disponible */
     height: 100%;
     /* Ocupa todo el espacio disponible */
     top: 0;
     /* Coloca el contenido en la parte superior */
     right: -100%;
     /* Inicialmente, fuera de la vista */
     position: absolute;
     /* Posicionamiento absoluto */
     background: #07101352;
     /* Fondo semi-transparente */
     backdrop-filter: blur(5px);
     /* Desenfoque de fondo */
     border-radius: 15px;
     /* Radio de borde */
     color: #fff;
     /* Color del texto */
     padding: 30px;
     /* Relleno interno */
     display: flex;
     /* Activa el modelo de dise침o flexbox */
     flex-direction: column;
     /* Organiza el contenido verticalmente */
     justify-content: center;
     /* Centra verticalmente el contenido */
     transition: 1s;
     /* Transici칩n suave de 1 segundo */
 }
  /* Estilos para el contenido de la tarjeta al hacer hover */
  .card:hover .card-body {
    right: 0; /* Muestra el contenido desplaz치ndolo hacia la derecha */
  }