<div class="container">
    <!-- Contenedor principal -->
    <div class="forms-container">
        <!-- Contenedor de formularios -->
        <div class="signin-signup">
            <!-- Formulario de inicio de sesión -->
            <form action="#" class="sign-in-form">
                <h2 class="title">Inicia Sesión</h2>
                <!-- Título del formulario de inicio de sesión -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <!-- Icono de usuario -->
                    <input type="text" placeholder="Nombre" />
                    <!-- Campo de entrada para el nombre -->
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <!-- Icono de candado -->
                    <input type="password" placeholder="Contraseña" />
                    <!-- Campo de entrada para la contraseña -->
                </div>
                <input type="submit" value="Login" class="btn solid" />
                <!-- Botón de inicio de sesión -->
                <p class="social-text">O Inicia sesión con las siguientes plataformas</p>
                <!-- Texto para iniciar sesión con redes sociales -->
                <div class="social-media">
                    <!-- Iconos de redes sociales -->
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
            <!-- Formulario de registro -->
            <form action="#" class="sign-up-form">
                <h2 class="title">Registrate</h2>
                <!-- Título del formulario de registro -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <!-- Icono de usuario -->
                    <input type="text" placeholder="Nombre" />
                    <!-- Campo de entrada para el nombre -->
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <!-- Icono de sobre -->
                    <input type="email" placeholder="Correo" />
                    <!-- Campo de entrada para el correo -->
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <!-- Icono de candado -->
                    <input type="password" placeholder="Contraseña" />
                    <!-- Campo de entrada para la contraseña -->
                </div>
                <input type="submit" class="btn" value="Sign up" />
                <!-- Botón de registro -->
                <p class="social-text">O Registrate con las siguientes plataformas</p>
                <!-- Texto para registrarse con redes sociales -->
                <div class="social-media">
                    <!-- Iconos de redes sociales -->
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>