<div class="container">
    <!-- Contenedor principal -->
    <div class="forms-container">
        <!-- Contenedor de formularios -->
        <div class="signin-signup">
            <!-- Formulario de inicio de sesión -->
            <form action="#" class="sign-in-form">
                <h2 class="title">Inicia Sesión</h2>
                <!-- Título del formulario de inicio de sesión -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <!-- Icono de usuario -->
                    <input type="text" placeholder="Nombre" />
                    <!-- Campo de entrada para el nombre -->
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <!-- Icono de candado -->
                    <input type="password" placeholder="Contraseña" />
                    <!-- Campo de entrada para la contraseña -->
                </div>
                <input type="submit" value="Login" class="btn solid" />
                <!-- Botón de inicio de sesión -->
                <p class="social-text">O Inicia sesión con las siguientes plataformas</p>
                <!-- Texto para iniciar sesión con redes sociales -->
                <div class="social-media">
                    <!-- Iconos de redes sociales -->
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </form>
            <!-- Formulario de registro -->
            <form action="#" class="sign-up-form">
                <h2 class="title">Registrate</h2>
                <!-- Título del formulario de registro -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <!-- Icono de usuario -->
                    <input type="text" placeholder="Nombre" />
                    <!-- Campo de entrada para el nombre -->
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <!-- Icono de sobre -->
                    <input type="email" placeholder="Correo" />
                    <!-- Campo de entrada para el correo -->
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <!-- Icono de candado -->
                    <input type="password" placeholder="Contraseña" />
                    <!-- Campo de entrada para la contraseña -->
                </div>
                <input type="submit" class="btn" value="Registrate" />
                <!-- Botón de registro -->
                <p class="social-text">O Registrate con las siguientes plataformas</p>
                <!-- Texto para registrarse con redes sociales -->
                <div class="social-media">
                    <!-- Iconos de redes sociales -->
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <!-- Contenedor de paneles -->
    <div class="panels-container">
        <!-- Panel izquierdo -->
        <div class="panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <!-- Título para usuarios nuevos -->
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                    ex ratione. Aliquid!
                </p>
                <!-- Texto descriptivo -->
                <button class="btn transparent" id="sign-up-btn">
                    Sign up
                </button>
                <!-- Botón para registrarse -->
            </div>
            <img src="img/log.svg" class="image" alt="" />
            <!-- Imagen relacionada al registro -->
        </div>

        <!-- Panel derecho -->
        <div class="panel right-panel">
            <div class="content">
                <h3>One of us ?</h3>
                <!-- Título para usuarios existentes -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    laboriosam ad deleniti.
                </p>
                <!-- Texto descriptivo -->
                <button class="btn transparent" id="sign-in-btn">
                    Sign in
                </button>
                <!-- Botón para iniciar sesión -->
            </div>
            <img src="img/register.svg" class="image" alt="" />
            <!-- Imagen relacionada al inicio de sesión -->
        </div>
    </div>
</div>