/* Contenedor principal con fondo verde */
.container {
    position: relative;
    width: 100%; /* Ancho del 100% para ocupar todo el espacio disponible */
    background-color: #99C66F; /* Color de fondo verde */
    min-height: 100vh; /* Altura mínima del viewport */
    overflow: hidden; /* Oculta el desbordamiento */
  }
  
  /* Contenedor de formularios */
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  /* Contenedor que almacena los formularios de inicio de sesión y registro */
  .signin-signup {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    transform: translate(-50%, -50%); /* Centra horizontalmente */
    left: 75%; /* Desplazado hacia la derecha */
    width: 50%;
    transition: 1s 0.7s ease-in-out; /* Transición con retardo */
    display: grid;
    grid-template-columns: 1fr; /* Columna única en el grid */
    z-index: 5;
  }
  
